body{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(autofit,minmax(10px,1fr));
    grid-template-rows: repeat(3,minmax(20px,auto));
}
.game{
    text-align: center;
}
.game-board{
    /* grid-column: 2/3; */
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    background-color:coral;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  
}

.square{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border: 2px whitesmoke solid;
    height: 10vh;
    width: 10vh;
}